<% layout('/layouts/boilerplate') %>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3 class="mt-3">Edit Listing</h3>
    <form method="post" , action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for ="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Edit Title" class="form-control" value="<%=listing.title%>" required>
            <div class="valid-feedback">Title is Acceptable</div>
            <div class="invalid-feedback">Title is not Acceptable</div>
        </div>
        <br>
        <div class="mb-3">
            <label for ="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Edit description" class="form-control"required><%=listing.description%></textarea> 
            <div class="valid-feedback">Description is Acceptable</div>
            <div class="invalid-feedback">Description is not Acceptable</div>
        </div>
        <br>
        <div>
            <p>Your Listing Image</p>
            <img src="<%=originalURL%>">
        </div>
        <br>
        <div class="mb-3">
            <label for ="image" class="form-label">Upload New Image</label>
            <input name="listing[image]"  class="form-control" type="file">
        </div>
        <br>
        <div class="mb-3">
            <label for ="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="Edit Price" class="form-control col-2"  value="<%=listing.price%>"required>
            <div class="valid-feedback">Price is Acceptable</div>
            <div class="invalid-feedback">Price is not Acceptable</div>
        </div>
        <br>
        <div class="mb-3">
            <label for ="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Edit Location" class="form-control" value="<%=listing.location%>"required>
            <div class="valid-feedback">Location is Acceptable</div>
            <div class="invalid-feedback">Location is not Acceptable</div>
            
        </div>
        <br>
        <div class="mb-3">
            <label for ="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="Edit Country" class="form-control" value="<%=listing.country%>"required>
            <div class="valid-feedback">Country is Acceptable</div>
            <div class="invalid-feedback">Country is not Acceptable</div>
        </div>
        <br>
        <div class="mb-3">
            <label for ="category" class="form-label">Select Category :</label>
            <select name="listing[category]"id="category" required>
                <option value="Cities">Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Beaches">Beaches</option>
                <option value="Islands">Islands</option>
                <option value="Arctic">Arctic</option>
                <option value="Pools">Pools</option>
                <option value="Lakes">Lakes</option>
                <option value="Camping">Camping</option>




            </select>

        </div>
        <br>
        <button class="btn btn-dark btn1 mb-3">Submit</button>
    </form>
        </div>
    </div>
       
</body>
</html>